.mhs{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    display: flex;
    background-color: antiquewhite;
}

.foto-mhs{
    height: 80px;
    width: 80px;
    margin-right: 20px;
    vertical-align: top;
}

.foto-mhs img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.data-mhs{
    flex: 1;
}

.data-mhs div.nim-mhs{
    font-size: 16px;
    margin-bottom: 10px;
}

.data-mhs p.isi-mhs{
    font-size: 16px;
    margin-bottom: 10px;
}